hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
cmake-build-debug/
evaluation/*.ttl
evaluation/data.txt
evaluation/data_small.txt
evaluation/indexes/
evaluation/results/
evaluation/index_baselines
