hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
cmake-build-debug/
evaluation/*.ttl
evaluation/data.txt
evaluation/data_small.txt
evaluation/indexes/
evaluation/results/
evaluation/index_baselines
evaluation/evaluate_baselines
evaluation/tag_distribution_dump.txt
evaluation/data/
evaluation/Unified-Navigating-Graph/
evaluation/data_to_bin
evaluation/build/
evaluation/index_acorn
evaluation/gen_fvecs
evaluation/ACORN/
